<html>
    <head>
        <title>Drug Parcer</title>
    </head>
    <body>
        <p><h1>Parser</h1></p>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.searchfield.label }}<br>
            {{ form.searchfield(size=32) }}
        </p>
        <p>{{ form.searchbutton() }}</p>
    </form>
    {% if DL_apteka_ru %}
    <h1>apteka.ru</h1>
    <ul>
    {% for element in DL_apteka_ru %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}

    {% if DL_apteka_sklad_com %}
    <h1>apteka-sklad.com</h1>
    <ul>
    {% for element in DL_apteka_sklad_com %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}
    
    {% if DL_glav_apteka_ru %}
    <h1>glav-apteka.ru</h1>
    <ul>
    {% for element in DL_glav_apteka_ru %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}
    
    {% if DL_rigla_ru %}
    <h1>rigla.ru</h1>
    <ul>
    {% for element in DL_rigla_ru %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}
    
    {% if DL_krym_budzdorov_ru %}
    <h1>krym.budzdorov.ru</h1>
    <ul>
    {% for element in DL_krym_budzdorov_ru %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}
    </body>
</html>