<html>
    <head>
        <title>Drug Parcer</title>
    </head>
    <body>
        <p><h1>Parser</h1></p>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.searchfield.label }}<br>
            {{ form.searchfield(size=32) }}
        </p>
        <p>{{ form.searchbutton() }}</p>
    </form>
    {% if drug_list1 %}
    <h1>apteka.ru</h1>
    <ul>
    {% for element in drug_list1 %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}

    {% if drug_list2 %}
    <h1>apteka-sklad.com</h1>
    <ul>
    {% for element in drug_list2 %}
        {% for drug, price in element.items() %}
        <li>{{ drug }}: {{ price }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endif%}
        
    </body>
</html>